.categories {
    position: sticky;
    border-bottom: 2px solid var(--main-border);
    padding-top: 10px;
    margin-bottom: 35px;
    top: 97px;
    background-color: var(--main-background);

    ul {
        display: flex;
        gap: 0 24px;

        li {
            cursor: pointer;
            font-size: 20px;
            padding-bottom: 8px;
            font-family: var(--proxima-extra-bold);
            transition: all var(--duration);
            &:last-child {
                padding-right: 10px;
            }
        }
        li.active {
            color: var(--active);
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: var(--active);
                bottom: -2px;
                left: 0;
            }
        }
    }

    @media screen and (max-width: 900px) {
        width: 100%;
        overflow: scroll;
        white-space: nowrap;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
